body {
  background-color: #e4e4e4;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menu{
  height:71px;
  border-bottom: 1px solid #128EE5;
}

.droplist{
  z-index: 3;
  float:left;
  margin:20px;
}

input{
  margin-top:15px;
  border-radius: 5px;
  width:215px;
  padding:1px 1px 1px 10px;
  height:40px;
  border: 1px solid #128EE5;
  font-size: 24px;
}


form{
  width: 300px;
  margin-right: 15px;
}

.sidebar{
  float:left;
  min-height:730px;
  border-right: 1px solid #128EE5;
}

.notes{
  font-size: 24px;
  border-bottom: 1px solid #128EE5;
  padding: 10px 0px 10px 0px; 
  margin:0px 15px;
}

.note{
margin-left: 30px;
}
.newgrp{
  border-bottom:0px;
}

.newgrp a{
opacity: 0;
}

.newgrp a:hover{
  opacity: 1;
}

.header{
  position: relative;
  left: 80px;
  font-size: 24px;
  padding: 17px 15px;
  margin-left: 0;
}

.title{
  display: inline-block;
}

a:link{
  text-decoration: none;
  color:black;
}

a:hover{
  color:#128EE5;
}

.sighin{
  font-size: 24px;
  border-bottom: 1px solid #128EE5;

}

.btnfloat{
  float:right;
  opacity: 0.2;
}

.btnfloat:hover{
  opacity: 1;
}

.noteClass{
  margin-left: -15px;
  height: 630px;
  font-size: 20px;
}

.NoteText{
  border-top: 1px solid #128EE5;
  height: 660px;
  padding:15px;
}

div.scroll{
  overflow-x:hidden; 
  overflow-y:auto;
}

.trngl{
  transform: rotate(90deg); 
}

.trngl:hover{
  transform: rotate(180deg); 
}

.btn{
  padding: 0;
  max-height: 30px;
}

.extbtn{
  max-width: 100px;
  padding: 1px;
  margin:0px 20px;
}

.editnote{
min-width: 300px;
}

.frmxt{
  font-size: 24px;
  max-width: 300px;
  padding: 10px;
  background: #e4e4e4;
  z-index:2;
  left: 618px;
  top:10px;
  position: absolute;
  border: 1px solid #128EE5;
  border-radius: 10px;
  box-shadow: 5px 10px 8px #888888;
}
.AD{
  display: inline;
}

.AD Button{
  float:right;
  border: 0px;
  font-size: 24px;
  padding: 0 10px;
  margin-top: -4px;
  text-transform:none;
}

.AD Button:hover{
  color: #128EE5;
  border: 1px solid #128EE5;
}

.btnout{
  display: inline-block;
  position: relative;
  top:5px;
  left:-75px;
}

/* StartPage Styles */

.Container {
  width: 100%;
}

.HeaderStartPage {
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid #128EE5;
}

.HeaderText {
  padding: 12px 0px;
  margin: 0;
}

.Content {
  width: 768px;
  margin: 0 auto;
  text-align: center;
}

div.ContentStartPage > h1 {
  margin-bottom: 20px;
}

.ImageStartPage {
  background-image: url(img/limit20blocks.jpg);
  width: 100%;
  height: 400px;
  margin: 14px 0px;
}

.ButtonBlock {
  margin-bottom: 16px;
}

.RegisterButton {
  padding: 10px;
}

.FooterStartPage {
  font-size: 28px;
  text-align: center;
  border-top: 1px solid #128EE5;
}

div.FooterStartPage > p {
  font-size: 14px;
  padding: 10px 0;
  margin: 0;
}

/* LoginRegistrationForm Styles */

.LoginBox {
  padding-top: 50px;
  width: 300px;
  margin: 0 auto;
}

.LoginCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.LoginHeaderText {
  font-size: 36px;
  padding-top: 16px;
  font-weight: 700;
}

.LoginText {
  text-align: center;
}

.LoginButton {
  text-align: center;
  padding-bottom: 6px;
}

.LoginButton > Button {
  background-color: #128EE5;
}

/* RedirectBackToHome Styles */

.BackButton {
  position: absolute;
  width: 120px;
  font-size: 22px;
  padding: 10px 20px 14px 20px;
  font-weight: 500;
  margin: 0;
}

.BackButton:hover {
  background-color: #b8b5b5;
}

/* Footer Styles */

.FooterStartPage {
  height: 100%;
  padding: 6px 0px;
}

.Description {
  margin: 0 auto;
  display: table;
  font-size: 14px;
}

.Description > div {
  display: table-cell;
  padding: 2px 6px;
}

/* AboutUs Styles */

.Padding10 {
  padding: 10px 0px;  
}

.AboutUsText {
  padding-bottom: 12px;
}

/* AboutUs Styles */

