body {
  background-color: #e4e4e4;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #e4e4e4;
}

/* StartPage Styles */

.Container {
  width: 100%;
}

.HeaderStartPage {
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid #128EE5;
}

.HeaderText {
  padding: 12px 0px;
  margin: 0;
}

.ContentStartPage {
  width: 768px;
  margin: 0 auto;
  text-align: center;
}

div.ContentStartPage > h1 {
  margin-bottom: 20px;
}

.ImageStartPage {
  background-image: url(img/limit20blocks.jpg);
  width: 100%;
  height: 400px;
  margin: 14px 0px;
}

.ButtonBlock {
  margin-bottom: 16px;
}

.RegisterButton {
  padding: 10px;
}

.FooterStartPage {
  font-size: 28px;
  text-align: center;
  border-top: 1px solid #128EE5;
}

div.FooterStartPage > p {
  font-size: 14px;
  padding: 10px 0;
  margin: 0;
}

/* LoginRegistrationForm Styles */

.LoginBox {
  padding-top: 50px;
  width: 300px;
  margin: 0 auto;
}

.LoginCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.LoginHeaderText {
  font-size: 36px;
  padding-top: 16px;
  font-weight: 700;
}

.LoginText {
  text-align: center;
}

.LoginButton {
  text-align: center;
  padding-bottom: 6px;
}

.LoginButton > Button {
  background-color: #128EE5;
}

/* RedirectBackToHome Styles */

.BackButton {
  position: absolute;
  width: 120px;
  font-size: 22px;
  padding: 10px 20px 14px 20px;
  font-weight: 500;
  margin: 0;
}

.BackButton:hover {
  background-color: #b8b5b5;
}

/* Footer Styles */

.FooterStartPage {
  padding: 6px 0px;
}

.Description {
  margin: 0 auto;
  display: table;
  font-size: 14px;
}

.Description > div {
  display: table-cell;
  padding: 2px 6px;
}