.LoginBox {
    padding-top: 50px;
    width: 300px;
    margin: 0 auto;
  }
  
  .LoginCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .LoginHeaderText {
    font-size: 36px;
    padding-top: 16px;
    font-weight: 700;
  }
  
  .LoginText {
    text-align: center;
  }
  
  .LoginButton {
    text-align: center;
    padding-bottom: 6px;
  }
  
  .LoginButton > Button {
    background-color: #128EE5;
  }