.LogOut{
  display: inline;
}
  
.LogOut > Button{
  float: right;
  font-size: 18px;
  color: #128EE5;
  text-transform: none;
  border: 1px solid #128EE5;
  border-radius: 5px;
  padding: 4px 16px;
  margin: 11px 12px;
}
  
.LogOut > Button:hover{
  color: #fff;
  background-color: #128EE5;
}